<!DOCTYPE html>
<html>
    <head>
        <!--<link rel="stylesheet" href={{ url_for('static', filename = 'style.css') }}/>-->
    </head>
  
   <body>
       <p>{{topArtist}}'s Top 3 Tracks are: </p>
       <ol>
           {%for i in range(0, len)%}
           
           <li>{{ top3Tracks[i] }}</li>
           <li><img src={{ top3ImgUrls[i] }} /></li>
           <li> <a href={{ top3ExtUrl[i] }}> {{ top3ExtUrl[i] }} </a> </li>
           
           
           {%endfor%}
           
           
           
       </ol>
   </body>
</html>
